* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#nav-bar {
  text-align: end;
}
.navbar {
  background-image: linear-gradient(to right, #a517ba, #82174b);

  padding: 0;
}
.navbar-brand img {
  padding-left: 20px;
  padding-bottom: 40px;
  height: 80px;
}
.navbar-brand li {
  padding: auto;
}
.navbar-brand li a {
  color: #fff !important;
  font-weight: 600;
}
.fa-bars {
  color: #fff;
  font-size: 10px !important;
}
.navbar-toggler {
  outline: none !important;
}

/*------------------------Banner------------------*/

#banner {
  background-image: linear-gradient(to right, #a517ba, #5fa782);
  color: #fff;
  padding-top: 15%;
}
.promo-title {
  font-size: 100px;
  font-weight: 700;
}
.play-btn {
  size: 70px;
  width: 100px;
}

.image-fluid {
  size: 500px;
  width: 700px;
}
.wave-fluid {
  size: 70px;
  width: 100%;
  height: 300px;
  padding-top: 0%;
}

/*-----------------------------Services Section------------------------------------*/
.service-image1 {
  width: 380px;
  margin-top: 10px;
  margin-bottom: 7px;
}
.service-image2 {
  width: 310px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.service-image3 {
  width: 310px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.services {
  padding: 20px;
}
.title {
  margin: 90px;
}
.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}
.title::before {
  content: " ";
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(50px);
  margin-top: 40px;
}
.title::after {
  margin-bottom: 40px;
  margin-top: 60px;
}
#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: -moz-linear-gradient(
    rgb(190, 153, 255) rgba(0, 33, 153, 0.333)
  );
  margin-right: 400px;
}

/*--------------------About Us----------------------*/

.text-center {
  padding-bottom: 60px;
  padding-top: 20px;
  margin-top: -60px;
  margin-bottom: 50px;
}
.about-title {
  font-size: 40px;
  font-weight: 600px;
}

#about-title ul li {
  margin: 10px;
  margin-top: 30px;
}
.image-fluid {
  width: 500px;
}

/*-------------------------Testimonial-------------------------------*/

#testimonials {
  margin: 50px 0;
}
.testimonials {
  border-left: 4px solid #7b1798;
  margin-top: 20px;
  margin-bottom: 20px;
}
#testimonials img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 10px;
}
.text-center {
  margin-top: -50px;
}
.user-details {
  display: inline-block;
  font-size: small;
}

/*-------------------------------------Social media section----------------------------------*/

#social-media {
  background: #f8f9f8;
  padding: 100px 0;
}

#social-media p {
  font-size: 30px;
  font-weight: 600px;
  margin-bottom: 30px;
}

.social-icon img {
  width: 50px;
  height: 50px;
  size: 50px;
  margin: 5px;
}
.social-icon a:hover img {
  transform: translateY(-10px);
}

/*-------------------------------------Footer Section-----------------------------------*/

#footer {
  background-image: linear-gradient(to right #1786ba #82175b);
  color: #ffffff01;
  margin: -60px;
  margin-bottom: 50;
}

#footer {
  width: fit-content;

  /*  margin-top: -100px; */
}

#footer img {
  width: 135%;
  size: 135px;
  height: 300px;
}
.footer-box {
  width: 200px;
  height: 20px;
  size: 40px;
  margin-left: 60px;
}
.greater-box {
  width: 150px;
  color: #ec0891;
  margin: 50px;
  margin-top: 30px;
  padding: 10px;
  margin-left: 100px;
}
.contact-box p {
  color: #5f7ca7;
  margin: 17px;
  margin-top: 30px;
}

#booster p {
  margin-left: 990px;
}
.form-control {
  margin-left: 400px;
}
.btn-primary {
  margin-left: 300px;
}
.form-control {
  margin-left: 300px;
}
.booster p {
  color: #7b1798;
  margin-left: 400px;
}
.contract-box {
  width: 700px;
  margin-left: 9px;
  margin-right: 50px;
}
